In [1]:
import requests
from bs4 import BeautifulSoup

In [59]:
dataapi="https://covidtracking.com/api/v1/states/current.json"
nameapi="https://covidtracking.com/api/v1/states/info.json"

In [60]:
data=requests.get(dataapi)
namedata=requests.get(nameapi)

In [61]:
print(data,namedata)

<Response [200]> <Response [200]>

In [62]:
jsondata=data.json()
jsonname=namedata.json()

In [63]:
import pandas as pd

In [94]:
alldata = pd.DataFrame(jsondata)
statedata = pd.DataFrame(jsonname)

In [95]:
alldata = alldata[['state','positive','recovered','death']]
statedata = statedata[['state','name']]

In [96]:
finaldata = pd.merge(statedata,alldata,on='state')

In [97]:
finaldata

   state                      name  positive  recovered  death
0     AK                    Alaska       339      217.0      9
1     AL                   Alabama      6137        NaN    212
2     AR                  Arkansas      2829      964.0     47
3     AS            American Samoa         0        NaN      0
4     AZ                   Arizona      6280     1345.0    266
5     CA                California     41137        NaN   1651
6     CO                  Colorado     12256     2086.0    674
7     CT               Connecticut     24582        NaN   1862
8     DC      District Of Columbia      3699      652.0    165
9     DE                  Delaware      3576      809.0    112
10    FL                   Florida     30839        NaN   1075
11    GA                   Georgia     22695        NaN    904
12    GU                      Guam       141      128.0      5
13    HI                    Hawaii       601      463.0     13
14    IA                      Iowa      5092     1723.0    112
15    ID                     Idaho      1870      867.0     54
16    IL                  Illinois     41777        NaN   1874
17    IN                   Indiana     14395        NaN    785
18    KS                    Kansas      3056        NaN    117
19    KY                  Kentucky      3779     1341.0    200
20    LA                 Louisiana     26512    14927.0   1644
21    MA             Massachusetts     53348        NaN   2730
22    MD                  Maryland     17766     1165.0    875
23    ME                     Maine       990      519.0     50
24    MI                  Michigan     37203     8342.0   3274
25    MN                 Minnesota      3446     1654.0    244
26    MO                  Missouri      6826        NaN    273
27    MP  Northern Mariana Islands        14       11.0      2
28    MS               Mississippi      5718        NaN    221
29    MT                   Montana       445      339.0     14
30    NC            North Carolina      8623        NaN    289
31    ND              North Dakota       803      310.0     16
32    NE                  Nebraska      2421        NaN     50
33    NH             New Hampshire      1720      578.0     53
34    NJ                New Jersey    105523        NaN   5863
35    NM                New Mexico      2521      614.0     84
36    NV                    Nevada      4539        NaN    204
37    NY                  New York    282143    23887.0  16599
38    OH                      Ohio     14983        NaN    711
39    OK                  Oklahoma      3193     2080.0    194
40    OR                    Oregon      2253        NaN     87
41    PA              Pennsylvania     40049        NaN   1537
42    PR               Puerto Rico      1307        NaN     83
43    RI              Rhode Island      7129      410.0    215
44    SC            South Carolina      5253     3701.0    166
45    SD              South Dakota      2147     1223.0     10
46    TN                 Tennessee      9189     4467.0    178
47    TX                     Texas     23773     9986.0    623
48    UT                      Utah      3948     1399.0     41
49    VA                  Virginia     11902     1717.0    436
50    VI         US Virgin Islands        55       51.0      3
51    VT                   Vermont       843     1710.0     46
52    WA                Washington     12977        NaN    723
53    WI                 Wisconsin      5687        NaN    266
54    WV             West Virginia      1020      439.0     32
55    WY                   Wyoming       349      321.0      7

In [103]:
finaldata.sort_values(by=['death'])

   state                      name  positive  recovered  death
3     AS            American Samoa         0        NaN      0
27    MP  Northern Mariana Islands        14       11.0      2
50    VI         US Virgin Islands        55       51.0      3
12    GU                      Guam       141      128.0      5
55    WY                   Wyoming       349      321.0      7
0     AK                    Alaska       339      217.0      9
45    SD              South Dakota      2147     1223.0     10
13    HI                    Hawaii       601      463.0     13
29    MT                   Montana       445      339.0     14
31    ND              North Dakota       803      310.0     16
54    WV             West Virginia      1020      439.0     32
48    UT                      Utah      3948     1399.0     41
51    VT                   Vermont       843     1710.0     46
2     AR                  Arkansas      2829      964.0     47
32    NE                  Nebraska      2421        NaN     50
23    ME                     Maine       990      519.0     50
33    NH             New Hampshire      1720      578.0     53
15    ID                     Idaho      1870      867.0     54
42    PR               Puerto Rico      1307        NaN     83
35    NM                New Mexico      2521      614.0     84
40    OR                    Oregon      2253        NaN     87
9     DE                  Delaware      3576      809.0    112
14    IA                      Iowa      5092     1723.0    112
18    KS                    Kansas      3056        NaN    117
8     DC      District Of Columbia      3699      652.0    165
44    SC            South Carolina      5253     3701.0    166
46    TN                 Tennessee      9189     4467.0    178
39    OK                  Oklahoma      3193     2080.0    194
19    KY                  Kentucky      3779     1341.0    200
36    NV                    Nevada      4539        NaN    204
1     AL                   Alabama      6137        NaN    212
43    RI              Rhode Island      7129      410.0    215
28    MS               Mississippi      5718        NaN    221
25    MN                 Minnesota      3446     1654.0    244
4     AZ                   Arizona      6280     1345.0    266
53    WI                 Wisconsin      5687        NaN    266
26    MO                  Missouri      6826        NaN    273
30    NC            North Carolina      8623        NaN    289
49    VA                  Virginia     11902     1717.0    436
47    TX                     Texas     23773     9986.0    623
6     CO                  Colorado     12256     2086.0    674
38    OH                      Ohio     14983        NaN    711
52    WA                Washington     12977        NaN    723
17    IN                   Indiana     14395        NaN    785
22    MD                  Maryland     17766     1165.0    875
11    GA                   Georgia     22695        NaN    904
10    FL                   Florida     30839        NaN   1075
41    PA              Pennsylvania     40049        NaN   1537
20    LA                 Louisiana     26512    14927.0   1644
5     CA                California     41137        NaN   1651
7     CT               Connecticut     24582        NaN   1862
16    IL                  Illinois     41777        NaN   1874
21    MA             Massachusetts     53348        NaN   2730
24    MI                  Michigan     37203     8342.0   3274
34    NJ                New Jersey    105523        NaN   5863
37    NY                  New York    282143    23887.0  16599

In [106]:
import requests

url = "https://covid-19-data.p.rapidapi.com/help/countries"

querystring = {"format":"json"}

headers = {
    'x-rapidapi-host': "covid-19-data.p.rapidapi.com",
    'x-rapidapi-key': "fcc0aeed9dmsh9e93ef029cd0819p1aa72bjsn8910d3dc6ba5"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.json())

[{'name': 'Afghanistan', 'alpha2code': 'AF', 'alpha3code': 'AFG', 'latitude': 33.93911, 'longitude': 67.709953}, {'name': 'Åland Islands', 'alpha2code': 'AX', 'alpha3code': 'ALA', 'latitude': 60.1995487, 'longitude': 20.3711715}, {'name': 'Albania', 'alpha2code': 'AL', 'alpha3code': 'ALB', 'latitude': 41.153332, 'longitude': 20.168331}, {'name': 'Algeria', 'alpha2code': 'DZ', 'alpha3code': 'DZA', 'latitude': 28.033886, 'longitude': 1.659626}, {'name': 'American Samoa', 'alpha2code': 'AS', 'alpha3code': 'ASM', 'latitude': -14.270972, 'longitude': -170.132217}, {'name': 'Andorra', 'alpha2code': 'AD', 'alpha3code': 'AND', 'latitude': 42.546245, 'longitude': 1.601554}, {'name': 'Angola', 'alpha2code': 'AO', 'alpha3code': 'AGO', 'latitude': -11.202692, 'longitude': 17.873887}, {'name': 'Anguilla', 'alpha2code': 'AI', 'alpha3code': 'AIA', 'latitude': 18.220554, 'longitude': -63.068615}, {'name': 'Antarctica', 'alpha2code': 'AQ', 'alpha3code': 'ATA', 'latitude': -75.250973, 'longitude': -0.071389}, {'name': 'Antigua and Barbuda', 'alpha2code': 'AG', 'alpha3code': 'ATG', 'latitude': 17.060816, 'longitude': -61.796428}, {'name': 'Argentina', 'alpha2code': 'AR', 'alpha3code': 'ARG', 'latitude': -38.416097, 'longitude': -63.616672}, {'name': 'Armenia', 'alpha2code': 'AM', 'alpha3code': 'ARM', 'latitude': 40.069099, 'longitude': 45.038189}, {'name': 'Aruba', 'alpha2code': 'AW', 'alpha3code': 'ABW', 'latitude': 12.52111, 'longitude': -69.968338}, {'name': 'Australia', 'alpha2code': 'AU', 'alpha3code': 'AUS', 'latitude': -25.274398, 'longitude': 133.775136}, {'name': 'Austria', 'alpha2code': 'AT', 'alpha3code': 'AUT', 'latitude': 47.516231, 'longitude': 14.550072}, {'name': 'Azerbaijan', 'alpha2code': 'AZ', 'alpha3code': 'AZE', 'latitude': 40.143105, 'longitude': 47.576927}, {'name': 'Bahamas', 'alpha2code': 'BS', 'alpha3code': 'BHS', 'latitude': 25.03428, 'longitude': -77.39628}, {'name': 'Bahrain', 'alpha2code': 'BH', 'alpha3code': 'BHR', 'latitude': 25.930414, 'longitude': 50.637772}, {'name': 'Bangladesh', 'alpha2code': 'BD', 'alpha3code': 'BGD', 'latitude': 23.684994, 'longitude': 90.356331}, {'name': 'Barbados', 'alpha2code': 'BB', 'alpha3code': 'BRB', 'latitude': 13.193887, 'longitude': -59.543198}, {'name': 'Belarus', 'alpha2code': 'BY', 'alpha3code': 'BLR', 'latitude': 53.709807, 'longitude': 27.953389}, {'name': 'Belgium', 'alpha2code': 'BE', 'alpha3code': 'BEL', 'latitude': 50.503887, 'longitude': 4.469936}, {'name': 'Belize', 'alpha2code': 'BZ', 'alpha3code': 'BLZ', 'latitude': 17.189877, 'longitude': -88.49765}, {'name': 'Benin', 'alpha2code': 'BJ', 'alpha3code': 'BEN', 'latitude': 9.30769, 'longitude': 2.315834}, {'name': 'Bermuda', 'alpha2code': 'BM', 'alpha3code': 'BMU', 'latitude': 32.321384, 'longitude': -64.75737}, {'name': 'Bhutan', 'alpha2code': 'BT', 'alpha3code': 'BTN', 'latitude': 27.514162, 'longitude': 90.433601}, {'name': 'Bolivia', 'alpha2code': 'BO', 'alpha3code': 'BOL', 'latitude': -16.290154, 'longitude': -63.588653}, {'name': 'Bonaire, Sint Eustatius and Saba', 'alpha2code': 'BQ', 'alpha3code': 'BES', 'latitude': 12.1683718, 'longitude': -68.308183}, {'name': 'Bosnia and Herzegovina', 'alpha2code': 'BA', 'alpha3code': 'BIH', 'latitude': 43.915886, 'longitude': 17.679076}, {'name': 'Botswana', 'alpha2code': 'BW', 'alpha3code': 'BWA', 'latitude': -22.328474, 'longitude': 24.684866}, {'name': 'Bouvet Island', 'alpha2code': 'BV', 'alpha3code': 'BVT', 'latitude': -54.423199, 'longitude': 3.413194}, {'name': 'Brazil', 'alpha2code': 'BR', 'alpha3code': 'BRA', 'latitude': -14.235004, 'longitude': -51.92528}, {'name': 'British Indian Ocean Territory', 'alpha2code': 'IO', 'alpha3code': 'IOT', 'latitude': -6.343194, 'longitude': 71.876519}, {'name': 'British Virgin Islands', 'alpha2code': 'VG', 'alpha3code': 'VGB', 'latitude': 18.420695, 'longitude': -64.639968}, {'name': 'Brunei', 'alpha2code': 'BN', 'alpha3code': 'BRN', 'latitude': 4.535277, 'longitude': 114.727669}, {'name': 'Bulgaria', 'alpha2code': 'BG', 'alpha3code': 'BGR', 'latitude': 42.733883, 'longitude': 25.48583}, {'name': 'Burkina Faso', 'alpha2code': 'BF', 'alpha3code': 'BFA', 'latitude': 12.238333, 'longitude': -1.561593}, {'name': 'Burundi', 'alpha2code': 'BI', 'alpha3code': 'BDI', 'latitude': -3.373056, 'longitude': 29.918886}, {'name': 'Cabo Verde', 'alpha2code': 'CV', 'alpha3code': 'CPV', 'latitude': 16.002082, 'longitude': -24.013197}, {'name': 'Cambodia', 'alpha2code': 'KH', 'alpha3code': 'KHM', 'latitude': 12.565679, 'longitude': 104.990963}, {'name': 'Cameroon', 'alpha2code': 'CM', 'alpha3code': 'CMR', 'latitude': 7.369722, 'longitude': 12.354722}, {'name': 'Canada', 'alpha2code': 'CA', 'alpha3code': 'CAN', 'latitude': 56.130366, 'longitude': -106.346771}, {'name': 'CAR', 'alpha2code': 'CF', 'alpha3code': 'CAF', 'latitude': 6.611111, 'longitude': 20.939444}, {'name': 'Cayman Islands', 'alpha2code': 'KY', 'alpha3code': 'CYM', 'latitude': 19.513469, 'longitude': -80.566956}, {'name': 'Chad', 'alpha2code': 'TD', 'alpha3code': 'TCD', 'latitude': 15.454166, 'longitude': 18.732207}, {'name': 'Channel Islands', 'alpha2code': None, 'alpha3code': None, 'latitude': 49.372284, 'longitude': -2.364351}, {'name': 'Chile', 'alpha2code': 'CL', 'alpha3code': 'CHL', 'latitude': -35.675147, 'longitude': -71.542969}, {'name': 'China', 'alpha2code': 'CN', 'alpha3code': 'CHN', 'latitude': 35.86166, 'longitude': 104.195397}, {'name': 'Christmas Island', 'alpha2code': 'CX', 'alpha3code': 'CXR', 'latitude': -10.447525, 'longitude': 105.690449}, {'name': 'Cocos (Keeling) Islands', 'alpha2code': 'CC', 'alpha3code': 'CCK', 'latitude': -12.164165, 'longitude': 96.870956}, {'name': 'Colombia', 'alpha2code': 'CO', 'alpha3code': 'COL', 'latitude': 4.570868, 'longitude': -74.297333}, {'name': 'Comoros', 'alpha2code': 'KM', 'alpha3code': 'COM', 'latitude': -11.875001, 'longitude': 43.872219}, {'name': 'Congo', 'alpha2code': 'CG', 'alpha3code': 'COG', 'latitude': -0.228021, 'longitude': 15.827659}, {'name': 'Cook Islands', 'alpha2code': 'CK', 'alpha3code': 'COK', 'latitude': -21.236736, 'longitude': -159.777671}, {'name': 'Costa Rica', 'alpha2code': 'CR', 'alpha3code': 'CRI', 'latitude': 9.748917, 'longitude': -83.753428}, {'name': 'Croatia', 'alpha2code': 'HR', 'alpha3code': 'HRV', 'latitude': 45.1, 'longitude': 15.2}, {'name': 'Cuba', 'alpha2code': 'CU', 'alpha3code': 'CUB', 'latitude': 21.521757, 'longitude': -77.781167}, {'name': 'Curaçao', 'alpha2code': 'CW', 'alpha3code': 'CUW', 'latitude': 12.16957, 'longitude': -68.990021}, {'name': 'Cyprus', 'alpha2code': 'CY', 'alpha3code': 'CYP', 'latitude': 35.126413, 'longitude': 33.429859}, {'name': 'Czech Republic', 'alpha2code': 'CZ', 'alpha3code': 'CZE', 'latitude': 49.817492, 'longitude': 15.472962}, {'name': 'Denmark', 'alpha2code': 'DK', 'alpha3code': 'DNK', 'latitude': 56.26392, 'longitude': 9.501785}, {'name': 'Diamond Princess', 'alpha2code': None, 'alpha3code': None, 'latitude': None, 'longitude': None}, {'name': 'Djibouti', 'alpha2code': 'DJ', 'alpha3code': 'DJI', 'latitude': 11.825138, 'longitude': 42.590275}, {'name': 'Dominica', 'alpha2code': 'DM', 'alpha3code': 'DMA', 'latitude': 15.414999, 'longitude': -61.370976}, {'name': 'Dominican Republic', 'alpha2code': 'DO', 'alpha3code': 'DOM', 'latitude': 18.735693, 'longitude': -70.162651}, {'name': 'DRC', 'alpha2code': 'CD', 'alpha3code': 'COD', 'latitude': -4.038333, 'longitude': 21.758664}, {'name': 'Ecuador', 'alpha2code': 'EC', 'alpha3code': 'ECU', 'latitude': -1.831239, 'longitude': -78.183406}, {'name': 'Egypt', 'alpha2code': 'EG', 'alpha3code': 'EGY', 'latitude': 26.820553, 'longitude': 30.802498}, {'name': 'El Salvador', 'alpha2code': 'SV', 'alpha3code': 'SLV', 'latitude': 13.794185, 'longitude': -88.89653}, {'name': 'Equatorial Guinea', 'alpha2code': 'GQ', 'alpha3code': 'GNQ', 'latitude': 1.650801, 'longitude': 10.267895}, {'name': 'Eritrea', 'alpha2code': 'ER', 'alpha3code': 'ERI', 'latitude': 15.179384, 'longitude': 39.782334}, {'name': 'Estonia', 'alpha2code': 'EE', 'alpha3code': 'EST', 'latitude': 58.595272, 'longitude': 25.013607}, {'name': 'Eswatini', 'alpha2code': 'SZ', 'alpha3code': 'SWZ', 'latitude': -26.522503, 'longitude': 31.465866}, {'name': 'Ethiopia', 'alpha2code': 'ET', 'alpha3code': 'ETH', 'latitude': 9.145, 'longitude': 40.489673}, {'name': 'Faeroe Islands', 'alpha2code': 'FO', 'alpha3code': 'FRO', 'latitude': 61.892635, 'longitude': -6.911806}, {'name': 'Falkland Islands', 'alpha2code': 'FK', 'alpha3code': 'FLK', 'latitude': -51.796253, 'longitude': -59.523613}, {'name': 'Fiji', 'alpha2code': 'FJ', 'alpha3code': 'FJI', 'latitude': -16.578193, 'longitude': 179.414413}, {'name': 'Finland', 'alpha2code': 'FI', 'alpha3code': 'FIN', 'latitude': 61.92411, 'longitude': 25.748151}, {'name': 'France', 'alpha2code': 'FR', 'alpha3code': 'FRA', 'latitude': 46.227638, 'longitude': 2.213749}, {'name': 'French Guiana', 'alpha2code': 'GF', 'alpha3code': 'GUF', 'latitude': 3.933889, 'longitude': -53.125782}, {'name': 'French Polynesia', 'alpha2code': 'PF', 'alpha3code': 'PYF', 'latitude': -17.679742, 'longitude': -149.406843}, {'name': 'French Southern Territories', 'alpha2code': 'TF', 'alpha3code': 'ATF', 'latitude': -49.280366, 'longitude': 69.348557}, {'name': 'Gabon', 'alpha2code': 'GA', 'alpha3code': 'GAB', 'latitude': -0.803689, 'longitude': 11.609444}, {'name': 'Gambia', 'alpha2code': 'GM', 'alpha3code': 'GMB', 'latitude': 13.443182, 'longitude': -15.310139}, {'name': 'Georgia', 'alpha2code': 'GE', 'alpha3code': 'GEO', 'latitude': 42.315407, 'longitude': 43.356892}, {'name': 'Germany', 'alpha2code': 'DE', 'alpha3code': 'DEU', 'latitude': 51.165691, 'longitude': 10.451526}, {'name': 'Ghana', 'alpha2code': 'GH', 'alpha3code': 'GHA', 'latitude': 7.946527, 'longitude': -1.023194}, {'name': 'Gibraltar', 'alpha2code': 'GI', 'alpha3code': 'GIB', 'latitude': 36.137741, 'longitude': -5.345374}, {'name': 'Greece', 'alpha2code': 'GR', 'alpha3code': 'GRC', 'latitude': 39.074208, 'longitude': 21.824312}, {'name': 'Greenland', 'alpha2code': 'GL', 'alpha3code': 'GRL', 'latitude': 71.706936, 'longitude': -42.604303}, {'name': 'Grenada', 'alpha2code': 'GD', 'alpha3code': 'GRD', 'latitude': 12.262776, 'longitude': -61.604171}, {'name': 'Guadeloupe', 'alpha2code': 'GP', 'alpha3code': 'GLP', 'latitude': 16.995971, 'longitude': -62.067641}, {'name': 'Guam', 'alpha2code': 'GU', 'alpha3code': 'GUM', 'latitude': 13.444304, 'longitude': 144.793731}, {'name': 'Guatemala', 'alpha2code': 'GT', 'alpha3code': 'GTM', 'latitude': 15.783471, 'longitude': -90.230759}, {'name': 'Guernsey', 'alpha2code': 'GG', 'alpha3code': 'GGY', 'latitude': 49.465691, 'longitude': -2.585278}, {'name': 'Guinea', 'alpha2code': 'GN', 'alpha3code': 'GIN', 'latitude': 9.945587, 'longitude': -9.696645}, {'name': 'Guinea-Bissau', 'alpha2code': 'GW', 'alpha3code': 'GNB', 'latitude': 11.803749, 'longitude': -15.180413}, {'name': 'Guyana', 'alpha2code': 'GY', 'alpha3code': 'GUY', 'latitude': 4.860416, 'longitude': -58.93018}, {'name': 'Haiti', 'alpha2code': 'HT', 'alpha3code': 'HTI', 'latitude': 18.971187, 'longitude': -72.285215}, {'name': 'Heard Island and Mcdonald Islands', 'alpha2code': 'HM', 'alpha3code': 'HMD', 'latitude': -53.08181, 'longitude': 73.504158}, {'name': 'Honduras', 'alpha2code': 'HN', 'alpha3code': 'HND', 'latitude': 15.199999, 'longitude': -86.241905}, {'name': 'Hong Kong', 'alpha2code': 'HK', 'alpha3code': 'HKG', 'latitude': 22.396428, 'longitude': 114.109497}, {'name': 'Hungary', 'alpha2code': 'HU', 'alpha3code': 'HUN', 'latitude': 47.162494, 'longitude': 19.503304}, {'name': 'Iceland', 'alpha2code': 'IS', 'alpha3code': 'ISL', 'latitude': 64.963051, 'longitude': -19.020835}, {'name': 'India', 'alpha2code': 'IN', 'alpha3code': 'IND', 'latitude': 20.593684, 'longitude': 78.96288}, {'name': 'Indonesia', 'alpha2code': 'ID', 'alpha3code': 'IDN', 'latitude': -0.789275, 'longitude': 113.921327}, {'name': 'Iran', 'alpha2code': 'IR', 'alpha3code': 'IRN', 'latitude': 32.427908, 'longitude': 53.688046}, {'name': 'Iraq', 'alpha2code': 'IQ', 'alpha3code': 'IRQ', 'latitude': 33.223191, 'longitude': 43.679291}, {'name': 'Ireland', 'alpha2code': 'IE', 'alpha3code': 'IRL', 'latitude': 53.41291, 'longitude': -8.24389}, {'name': 'Isle of Man', 'alpha2code': 'IM', 'alpha3code': 'IMN', 'latitude': 54.236107, 'longitude': -4.548056}, {'name': 'Israel', 'alpha2code': 'IL', 'alpha3code': 'ISR', 'latitude': 31.046051, 'longitude': 34.851612}, {'name': 'Italy', 'alpha2code': 'IT', 'alpha3code': 'ITA', 'latitude': 41.87194, 'longitude': 12.56738}, {'name': 'Ivory Coast', 'alpha2code': 'CI', 'alpha3code': 'CIV', 'latitude': 7.539989, 'longitude': -5.54708}, {'name': 'Jamaica', 'alpha2code': 'JM', 'alpha3code': 'JAM', 'latitude': 18.109581, 'longitude': -77.297508}, {'name': 'Japan', 'alpha2code': 'JP', 'alpha3code': 'JPN', 'latitude': 36.204824, 'longitude': 138.252924}, {'name': 'Jersey', 'alpha2code': 'JE', 'alpha3code': 'JEY', 'latitude': 49.214439, 'longitude': -2.13125}, {'name': 'Jordan', 'alpha2code': 'JO', 'alpha3code': 'JOR', 'latitude': 30.585164, 'longitude': 36.238414}, {'name': 'Kazakhstan', 'alpha2code': 'KZ', 'alpha3code': 'KAZ', 'latitude': 48.019573, 'longitude': 66.923684}, {'name': 'Kenya', 'alpha2code': 'KE', 'alpha3code': 'KEN', 'latitude': -0.023559, 'longitude': 37.906193}, {'name': 'Kiribati', 'alpha2code': 'KI', 'alpha3code': 'KIR', 'latitude': -3.370417, 'longitude': -168.734039}, {'name': 'Kosovo* (disputed teritory)', 'alpha2code': 'XK', 'alpha3code': None, 'latitude': 42.66394, 'longitude': 21.09611}, {'name': 'Kuwait', 'alpha2code': 'KW', 'alpha3code': 'KWT', 'latitude': 29.31166, 'longitude': 47.481766}, {'name': 'Kyrgyzstan', 'alpha2code': 'KG', 'alpha3code': 'KGZ', 'latitude': 41.20438, 'longitude': 74.766098}, {'name': 'Laos', 'alpha2code': 'LA', 'alpha3code': 'LAO', 'latitude': 19.85627, 'longitude': 102.495496}, {'name': 'Latvia', 'alpha2code': 'LV', 'alpha3code': 'LVA', 'latitude': 56.879635, 'longitude': 24.603189}, {'name': 'Lebanon', 'alpha2code': 'LB', 'alpha3code': 'LBN', 'latitude': 33.854721, 'longitude': 35.862285}, {'name': 'Lesotho', 'alpha2code': 'LS', 'alpha3code': 'LSO', 'latitude': -29.609988, 'longitude': 28.233608}, {'name': 'Liberia', 'alpha2code': 'LR', 'alpha3code': 'LBR', 'latitude': 6.428055, 'longitude': -9.429499}, {'name': 'Libya', 'alpha2code': 'LY', 'alpha3code': 'LBY', 'latitude': 26.3351, 'longitude': 17.228331}, {'name': 'Liechtenstein', 'alpha2code': 'LI', 'alpha3code': 'LIE', 'latitude': 47.166, 'longitude': 9.555373}, {'name': 'Lithuania', 'alpha2code': 'LT', 'alpha3code': 'LTU', 'latitude': 55.169438, 'longitude': 23.881275}, {'name': 'Luxembourg', 'alpha2code': 'LU', 'alpha3code': 'LUX', 'latitude': 49.815273, 'longitude': 6.129583}, {'name': 'Macao', 'alpha2code': 'MO', 'alpha3code': 'MAC', 'latitude': 22.198745, 'longitude': 113.543873}, {'name': 'Madagascar', 'alpha2code': 'MG', 'alpha3code': 'MDG', 'latitude': -18.766947, 'longitude': 46.869107}, {'name': 'Malawi', 'alpha2code': 'MW', 'alpha3code': 'MWI', 'latitude': -13.254308, 'longitude': 34.301525}, {'name': 'Malaysia', 'alpha2code': 'MY', 'alpha3code': 'MYS', 'latitude': 4.210484, 'longitude': 101.975766}, {'name': 'Maldives', 'alpha2code': 'MV', 'alpha3code': 'MDV', 'latitude': 3.202778, 'longitude': 73.22068}, {'name': 'Mali', 'alpha2code': 'ML', 'alpha3code': 'MLI', 'latitude': 17.570692, 'longitude': -3.996166}, {'name': 'Malta', 'alpha2code': 'MT', 'alpha3code': 'MLT', 'latitude': 35.937496, 'longitude': 14.375416}, {'name': 'Marshall Islands', 'alpha2code': 'MH', 'alpha3code': 'MHL', 'latitude': 7.131474, 'longitude': 171.184478}, {'name': 'Martinique', 'alpha2code': 'MQ', 'alpha3code': 'MTQ', 'latitude': 14.641528, 'longitude': -61.024174}, {'name': 'Mauritania', 'alpha2code': 'MR', 'alpha3code': 'MRT', 'latitude': 21.00789, 'longitude': -10.940835}, {'name': 'Mauritius', 'alpha2code': 'MU', 'alpha3code': 'MUS', 'latitude': -20.348404, 'longitude': 57.552152}, {'name': 'Mayotte', 'alpha2code': 'YT', 'alpha3code': 'MYT', 'latitude': -12.8275, 'longitude': 45.166244}, {'name': 'Mexico', 'alpha2code': 'MX', 'alpha3code': 'MEX', 'latitude': 23.634501, 'longitude': -102.552784}, {'name': 'Micronesia', 'alpha2code': 'FM', 'alpha3code': 'FSM', 'latitude': 7.425554, 'longitude': 150.550812}, {'name': 'Moldova', 'alpha2code': 'MD', 'alpha3code': 'MDA', 'latitude': 47.411631, 'longitude': 28.369885}, {'name': 'Monaco', 'alpha2code': 'MC', 'alpha3code': 'MCO', 'latitude': 43.750298, 'longitude': 7.412841}, {'name': 'Mongolia', 'alpha2code': 'MN', 'alpha3code': 'MNG', 'latitude': 46.862496, 'longitude': 103.846656}, {'name': 'Montenegro', 'alpha2code': 'ME', 'alpha3code': 'MNE', 'latitude': 42.708678, 'longitude': 19.37439}, {'name': 'Montserrat', 'alpha2code': 'MS', 'alpha3code': 'MSR', 'latitude': 16.742498, 'longitude': -62.187366}, {'name': 'Morocco', 'alpha2code': 'MA', 'alpha3code': 'MAR', 'latitude': 31.791702, 'longitude': -7.09262}, {'name': 'Mozambique', 'alpha2code': 'MZ', 'alpha3code': 'MOZ', 'latitude': -18.665695, 'longitude': 35.529562}, {'name': 'MS Zaandam', 'alpha2code': None, 'alpha3code': None, 'latitude': None, 'longitude': None}, {'name': 'Myanmar', 'alpha2code': 'MM', 'alpha3code': 'MMR', 'latitude': 21.913965, 'longitude': 95.956223}, {'name': 'Namibia', 'alpha2code': 'NA', 'alpha3code': 'NAM', 'latitude': -22.95764, 'longitude': 18.49041}, {'name': 'Nauru', 'alpha2code': 'NR', 'alpha3code': 'NRU', 'latitude': -0.522778, 'longitude': 166.931503}, {'name': 'Nepal', 'alpha2code': 'NP', 'alpha3code': 'NPL', 'latitude': 28.394857, 'longitude': 84.124008}, {'name': 'Netherlands', 'alpha2code': 'NL', 'alpha3code': 'NLD', 'latitude': 52.132633, 'longitude': 5.291266}, {'name': 'New Caledonia', 'alpha2code': 'NC', 'alpha3code': 'NCL', 'latitude': -20.904305, 'longitude': 165.618042}, {'name': 'New Zealand', 'alpha2code': 'NZ', 'alpha3code': 'NZL', 'latitude': -40.900557, 'longitude': 174.885971}, {'name': 'Nicaragua', 'alpha2code': 'NI', 'alpha3code': 'NIC', 'latitude': 12.865416, 'longitude': -85.207229}, {'name': 'Niger', 'alpha2code': 'NE', 'alpha3code': 'NER', 'latitude': 17.607789, 'longitude': 8.081666}, {'name': 'Nigeria', 'alpha2code': 'NG', 'alpha3code': 'NGA', 'latitude': 9.081999, 'longitude': 8.675277}, {'name': 'Niue', 'alpha2code': 'NU', 'alpha3code': 'NIU', 'latitude': -19.054445, 'longitude': -169.867233}, {'name': 'Norfolk Island', 'alpha2code': 'NF', 'alpha3code': 'NFK', 'latitude': -29.040835, 'longitude': 167.954712}, {'name': 'North Korea', 'alpha2code': 'KP', 'alpha3code': 'PRK', 'latitude': 40.339852, 'longitude': 127.510093}, {'name': 'North Macedonia', 'alpha2code': 'MK', 'alpha3code': 'MKD', 'latitude': 41.608635, 'longitude': 21.745275}, {'name': 'Northern Mariana Islands', 'alpha2code': 'MP', 'alpha3code': 'MNP', 'latitude': 17.33083, 'longitude': 145.38469}, {'name': 'Norway', 'alpha2code': 'NO', 'alpha3code': 'NOR', 'latitude': 60.472024, 'longitude': 8.468946}, {'name': 'Oman', 'alpha2code': 'OM', 'alpha3code': 'OMN', 'latitude': 21.512583, 'longitude': 55.923255}, {'name': 'Pakistan', 'alpha2code': 'PK', 'alpha3code': 'PAK', 'latitude': 30.375321, 'longitude': 69.345116}, {'name': 'Palau', 'alpha2code': 'PW', 'alpha3code': 'PLW', 'latitude': 7.51498, 'longitude': 134.58252}, {'name': 'Palestine', 'alpha2code': 'PS', 'alpha3code': 'PSE', 'latitude': 31.952162, 'longitude': 35.233154}, {'name': 'Panama', 'alpha2code': 'PA', 'alpha3code': 'PAN', 'latitude': 8.537981, 'longitude': -80.782127}, {'name': 'Papua New Guinea', 'alpha2code': 'PG', 'alpha3code': 'PNG', 'latitude': -6.314993, 'longitude': 143.95555}, {'name': 'Paraguay', 'alpha2code': 'PY', 'alpha3code': 'PRY', 'latitude': -23.442503, 'longitude': -58.443832}, {'name': 'Peru', 'alpha2code': 'PE', 'alpha3code': 'PER', 'latitude': -9.189967, 'longitude': -75.015152}, {'name': 'Philippines', 'alpha2code': 'PH', 'alpha3code': 'PHL', 'latitude': 12.879721, 'longitude': 121.774017}, {'name': 'Pitcairn', 'alpha2code': 'PN', 'alpha3code': 'PCN', 'latitude': -24.703615, 'longitude': -127.439

In [110]:
newdata = pd.DataFrame(response.json())

In [111]:
newdata

                  name alpha2code alpha3code   latitude   longitude
0          Afghanistan         AF        AFG  33.939110   67.709953
1        Åland Islands         AX        ALA  60.199549   20.371171
2              Albania         AL        ALB  41.153332   20.168331
3              Algeria         DZ        DZA  28.033886    1.659626
4       American Samoa         AS        ASM -14.270972 -170.132217
..                 ...        ...        ...        ...         ...
248  Wallis and Futuna         WF        WLF -13.768752 -177.156097
249     Western Sahara         EH        ESH  24.215527  -12.885834
250              Yemen         YE        YEM  15.552727   48.516388
251             Zambia         ZM        ZMB -13.133897   27.849332
252           Zimbabwe         ZW        ZWE -19.015438   29.154857

[253 rows x 5 columns]