In [2]:
import requests
import pandas as pd

In [3]:
import requests

url = "https://corona-virus-world-and-india-data.p.rapidapi.com/api"

headers = {
    'x-rapidapi-host': "corona-virus-world-and-india-data.p.rapidapi.com",
    'x-rapidapi-key': "fcc0aeed9dmsh9e93ef029cd0819p1aa72bjsn8910d3dc6ba5"
    }

response = requests.request("GET", url, headers=headers)

response=response.json()

In [4]:
response=response['countries_stat']

In [5]:
data = pd.DataFrame(response)

In [6]:
data

,country_name,cases,deaths,region,total_recovered,new_deaths,new_cases,serious_critical,active_cases,total_cases_per_1m_population,deaths_per_1m_population,total_tests,tests_per_1m_population
0,USA,"960,896","54,265",,"118,162",9,245,"15,110","788,469","2,903",164,"5,279,237","15,949"
1,Spain,"223,759","22,902",,"95,708",0,0,"7,705","105,149","4,786",490,"930,230","19,896"
2,Italy,"195,351","26,384",,"63,120",0,0,"2,102","105,847","3,231",436,"1,707,743","28,245"
3,France,"161,488","22,614",,"44,594",0,0,"4,725","94,280","2,474",346,"463,662","7,103"
4,Germany,"156,513","5,877",,"109,800",0,0,"2,570","40,836","1,868",70,"2,072,669","24,738"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Caribbean Netherlands,5,0,,0,0,0,0,5,191,0,110,"4,195"
209,Sao Tome and Principe,4,0,,0,0,0,0,4,18,0,19,87
210,Anguilla,3,0,,1,0,0,0,2,200,0,0,0
211,Saint Pierre Miquelon,1,0,,0,0,0,0,1,173,0,0,0
212,Yemen,1,0,,1,0,0,0,0,0.03,0,120,4

In [7]:
pd.set_option('display.max_rows', None)
finaldata=data[['country_name','cases','total_recovered','deaths']]

In [8]:
finaldata.sort_values('country_name')

               country_name    cases total_recovered  deaths
91                               721             645      15
73              Afghanistan    1,463             188      47
92                  Albania      712             403      27
55                  Algeria    3,256           1,479     419
90                  Andorra      738             344      40
174                  Angola       25               6       2
210                Anguilla        3               1       0
175     Antigua and Barbuda       24              11       3
52                Argentina    3,780           1,030     185
67                  Armenia    1,746             833      28
145                   Aruba      100              69       2
42                Australia    6,711           5,539      83
23                  Austria   15,225          12,282     542
69               Azerbaijan    1,617           1,080      21
153                 Bahamas       78              15      11
59                  Bahrain    2,588           1,160       8
46               Bangladesh    5,416             122     145
152                Barbados       79              31       6
33                  Belarus    9,590           1,573      67
11                  Belgium   46,134          10,785   7,094
179                  Belize       18               5       2
163                   Benin       54              27       1
144                 Bermuda      109              39       5
202                  Bhutan        7               3       0
87                  Bolivia      866              54      46
71   Bosnia and Herzegovina    1,486             592      57
177                Botswana       22               0       1
10                   Brazil   59,324          29,160   4,057
204  British Virgin Islands        6               3       1
136                  Brunei      138             123       1
79                 Bulgaria    1,290             205      55
98             Burkina Faso      629             442      41
192                 Burundi       11               4       1
184                     CAR       16              10       0
148              Cabo Verde       90               1       1
140                Cambodia      122             117       0
70                 Cameroon    1,518             697      53
12                   Canada   45,354          16,425   2,465
208   Caribbean Netherlands        5               0       0
158          Cayman Islands       70               8       1
166                    Chad       46              15       0
102         Channel Islands      525             332      35
27                    Chile   12,858           6,746     181
8                     China   82,827          77,394   4,632
47                 Colombia    5,142           1,067     233
128                   Congo      200              19       6
95               Costa Rica      693             242       6
62                  Croatia    2,016           1,034      54
78                     Cuba    1,337             437      51
186                 CuraÃ§ao       16              11       1
89                   Cyprus      810             148      14
41                  Czechia    7,352           2,471     219
109                     DRC      442              50      28
37                  Denmark    8,445           5,669     418
93         Diamond Princess      712             645      13
84                 Djibouti    1,008             373       2
185                Dominica       16              13       0
43       Dominican Republic    5,926             822     273
18                  Ecuador   22,719           1,366     576
50                    Egypt    4,319           1,114     307
123             El Salvador      298              83       8
125       Equatorial Guinea      258               8       1
169                 Eritrea       39              13       0
68                  Estonia    1,635             228      46
162                Eswatini       56              10       1
139                Ethiopia      122              29       3
129          Faeroe Islands      187             178       0
190        Falkland Islands       13              11       0
180                    Fiji       18              10       0
48                  Finland    4,576           2,500     186
3                    France  161,488          44,594  22,614
143           French Guiana      111              87       1
161        French Polynesia       57              41       0
132                   Gabon      176              30       3
197                  Gambia       10               8       1
104                 Georgia      485             139       6
4                   Germany  156,513         109,800   5,877
80                    Ghana    1,279             134      10
137               Gibraltar      136             131       0
60                   Greece    2,506             577     130
195               Greenland       11              11       0
181                 Grenada       18               7       0
134              Guadeloupe      149              82      12
105               Guatemala      473              45      13
85                   Guinea      996             208       7
164           Guinea-Bissau       52               3       0
156                  Guyana       73              12       7
157                   Haiti       72               6       6
99                 Honduras      627              65      59
83                Hong Kong    1,038             753       4
61                  Hungary    2,500             485     272
65                  Iceland    1,790           1,570      10
15                    India   26,496           5,939     825
35                Indonesia    8,882           1,107     743
7                      Iran   89,328          68,193   5,650
66                     Iraq    1,763           1,224      86
19                  Ireland   18,561           9,233   1,063
120             Isle of Man      308             243      18
22                   Israel   15,398           6,602     199
2                     Italy  195,351          63,120  26,384
82              Ivory Coast    1,077             419      14
121                 Jamaica      305              28       7
26                    Japan   13,231           1,656     360
108                  Jordan      444             332       7
58               Kazakhstan    2,652             646      25
115                   Kenya      343              98      14
57                   Kuwait    2,892             656      19
97               Kyrgyzstan      682             370       8
178                    Laos       19               7       0
88                   Latvia      812             267      12
94                  Lebanon      704             143      24
141                 Liberia      120              25      11
160                   Libya       61              18       2
151           Liechtenstein       81              55       1
74                Lithuania    1,438             467      41
53               Luxembourg    3,711           3,088      85
200              MS Zaandam        9               0       2
167                   Macao       45              28       0
138              Madagascar      123              62       0
172                  Malawi       33               4       3
44                 Malaysia    5,780           3,862      98
131                Maldives      177              17       0
114                    Mali      370              91      21
107                   Malta      448             249       4
133              Martinique      175              77      14
203              Mauritania        7               6       1
117               Mauritius      331             295       9
113                 Mayotte      380             144       4
24                   Mexico   13,842           7,149   1,305
54                  Moldova    3,304             825      94
147                  Monaco       94              42       4
171                Mongolia       38               9       0
119              Montenegro      320             153       6
193              Montserrat       11               2       1
51                  Morocco    3,897             537     159
159              Mozambique       70              12       0
135                 Myanmar      146              10       5
183                 Namibia       16               8       0
165                   Nepal       51              12       0
13              Netherlands   37,190             N/A   4,409
182           New Caledonia       18              17       0
72              New Zealand    1,470           1,142      18
191               Nicaragua       12               7       3
96                    Niger      684             325      27
81                  Nigeria    1,182             222      35
77          North Macedonia    1,367             374      59
40                   Norway    7,499              32     201
63                     Oman    1,998             333      10
28                 Pakistan   12,723           2,866     269
116               Palestine      342              92       2
45                   Panama    5,538             338     159
201        Papua New Guinea        8               0       0
126                Paraguay      228              85       9
16                     Peru   25,331           7,797     700
39              Philippines    7,579             862     501
29                   Poland   11,395           2,265     526
17                 Portugal   23,392           1,277     880
34                    Qatar    9,358             929      10
31                  Romania   10,635           2,890     601
9                    Russia   80,949           6,767     747
130                  Rwanda      183              88       0
111                 RÃ©union      417             300       0
30                 S. Korea   10,728           8,717     242
187   Saint Kitts and Nevis       15               2       0
188             Saint Lucia       15              15       0
170            Saint Martin       38              24       3
211   Saint Pierre Miquelon        1               0       0
103              San Marino      513              64      40
209   Sao Tome and Principe        4               0       0
21             Saudi Arabia   16,299           2,215     136
100                 Senegal      614             276       7
38                   Serbia    7,779           1,152     151
196              Seychelles       11               6       0
150            Sierra Leone       82              10       2
25                Singapore   13,624           1,002      12
155            Sint Maarten       73              22      12
76                 Slovakia    1,379             394      18
75                 Slovenia    1,388             219      81
112                 Somalia      390               8      18
49             South Africa    4,361           1,473      86
206             South Sudan        6               0       0
1                     Spain  223,759          95,708  22,902
106               Sri Lanka      467             120       7
205               St. Barth        6               6       0
189  St. Vincent Grenadines       14               5       0
127                   Sudan      213              19      17
198                Suriname       10               7       1
20                   Sweden   18,177           1,005   2,192
14              Switzerland   28,894          21,300   1,599
168                   Syria       42              11       3
110                  Taiwan      429             281       6
122                Tanzania      299              48      10
56                 Thailand    2,922           2,594      51
176             Timor-Leste       24               2       0
146                    Togo       96              62       6
142     Trinidad and Tobago      115              53       8
86                  Tunisia      939             207      38
6                    Turkey  107,773          25,582   2,706
194        Turks and Caicos       11               4       1
32                      UAE    9,813           1,887      71
5                        UK  148,377             N/A  20,319
0                       USA  960,896         118,162  54,265
154                  Uganda       75              46       0
36                  Ukraine    8,617             840     209
101                 Uruguay      596             370      14
64               Uzbekistan    1,865             707       8
199            Vatican City        9               2       0
118               Venezuela      323             132      10
124                 Vietnam      270             225       0
207          Western Sahara        6               5       0
212                   Yemen        1               1       0
149                  Zambia       84              37       3
173                Zimbabwe       31               2       4

In [9]:
finddata=input("Enter a country name to find its data: ")
finaldata[finaldata.eq(finddata).any(1)]

Enter a country name to find its data: India

   country_name   cases total_recovered deaths
15        India  26,496           5,939    825